h1,h2,h3,h4,h5,h6{
    color: blue;
    text-align: center;
    text-decoration: double;
}
body{
     background-color: bisque; 
    background-image: url("C:\Users\HP\Downloads\pexels-henry-&-co-1939485.jpg");
}

ol{
    text-align: justify;
    
}



div p {
    color:red;
}

div > p {
    color: green;
}


/*Adjacent sibiling Selector*/
div + p {
    color : blue;
}

/*General sibiling Selector*/
div ~p{
    color :aqua;
}